In [10]:
import numpy as np
import pandas as pd
import random 

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
import researchpy as rp
from scipy.stats import levene
from scipy.stats import skew
from scipy.stats import kurtosistest
from scipy.stats import kstest

import warnings
warnings.filterwarnings('ignore')

pd.options.display.max_columns = None

ModuleNotFoundError: No module named 'matplotlib'

In [4]:
df_casual = pd.read_pickle('../datos_finales/archivo_casual.pkl')
df_casual.head(2)

,estacion,año,mes,festivo,dia_semana,dias_laborables,tiempo,temperatura,humedad,velocidad_viento,usuarios_casuales
0,invierno,2018,Enero,si,Lunes,festivo,nuboso,14.110847,80.5833,10.749882,331
1,invierno,2018,Enero,no,Martes,laborable,nuboso,14.902598,69.6087,16.652113,131

In [5]:
df_registrados = pd.read_pickle('../datos_finales/archivo_registrados.pkl')
df_registrados.head(2)

,estacion,año,mes,festivo,dia_semana,dias_laborables,tiempo,temperatura,humedad,velocidad_viento,usuarios_registrados
0,invierno,2018,Enero,si,Lunes,festivo,nuboso,14.110847,80.5833,10.749882,654
1,invierno,2018,Enero,no,Martes,laborable,nuboso,14.902598,69.6087,16.652113,670

In [6]:
df_total = pd.read_pickle('../datos_finales/archivo_total.pkl')
df_total.head(2)

,estacion,año,mes,festivo,dia_semana,dias_laborables,tiempo,temperatura,humedad,velocidad_viento,total_usuarios
0,invierno,2018,Enero,si,Lunes,festivo,nuboso,14.110847,80.5833,10.749882,985
1,invierno,2018,Enero,no,Martes,laborable,nuboso,14.902598,69.6087,16.652113,801

Hemos comprobado la normalidad y ninguno la cumple.

### HOMOCEDASTICIDAD

In [9]:
numericas = df_casual.select_dtypes(include = np.numbers)

NameError: name 'np' is not defined

In [7]:
predictoras_col = numericas.drop('usuarios_casuales', axis= 1).columns

fig, axes = plt.subplots(nrows = 1, ncols = 4, figsize = (30, 10))

axes = axes.flat

for i, colum in enumerate(predictoras_col): 
    sns.regplot(
        data = df,
        x = colum,
        y = 'usuarios_casuales',
        ax = axes[i])

    axes[i].set_title(colum, fontsize = 15, fontweight = "bold")

    axes[i].tick_params(labelsize = 20)

    axes[i].set_xlabel("")

fig.tight_layout()
fig.delaxes(axes[0]);

NameError: name 'numericas' is not defined